<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Web-console for FileProcessing app</title>
    <script th:src="@{/spa.min@19.js}"></script>
    <script th:src="@{/js/components.js}"></script>
    <link rel="stylesheet" th:href="@{/spa.min@19.css}"/>
    <link rel="stylesheet" th:href="@{/css/components.css}"/>
</head>

<body style="padding:10px">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <ui-component name="datagrid" path="common.files" config="margin:22;button:clicked">
                    <script type="text/plain">
                        [
                            { name: 'string1', text: 'Name', width: 300 },
                            { name: 'string2', text: 'Price', width: 300 },
                            { name: 'date1', text: 'Date', align: 1, template: '{{ date1 | format(\'dd.MM.yyyy hh:mm:ss\') }}', align: 2, alignfilter: 2, alignheader: 2, width: 300 },
                            { type: 'controls', template: '<button name="show"><i class="ti ti-search"></i><span>Show</span></button><button name="edit"><i class="ti ti-pencil"></i></button><button name="remove"><i class="ti ti-trash red"></i></button>' }
                        ]
                    </script>
                </ui-component>
            </div>
        </div>
    </div>
</body>

<script>

	var common = {};

	// default empty filter
	var filter = {
	    values: {},
	    sort: 'date1_desc',
	    page: 1
	};

	function clicked(btnname, row, button, e) {
		console.log(btnname, row);
	}

	AJAX('POST /api/files', filter, function(value, err, response) {
        if (err) {
            console.log('Api fetch failed', err);
        }

        SET('common.files', value);
    });

</script>

</html>